.title
{
    text-align: center;
    color: green;
}
h2
{
    text-align: center;
    color: blue;
}
.center
{
    text-align: center;
}
h3
{
    text-decoration: underline;
}
body
{
    background-color: beige;
}
.team
{
    color: red;
    text-decoration: underline;
}
border
{
    border: 1px solid black;
}
th
{
    border: 1px solid black;
    background-color: lightgrey;
    text-align: center;
}
.number
{
    text-align: center;
}
.space
{
    margin-bottom: 1cm;
}